# Data Science Tools and Ecosystem

## Author Jon Grahe

### In the notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
  
+ create notebook
+ adjust font with headers
+ adjust font with bold
+ create new cells
+ save and share files

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. Numpy
3. TensorFlow

|Data Science Tools|
|-------------|
|Anaconda|
|R-Studio|
|Jupytor Notebook|

### Below are a few examples of evaluating arithmetic exressions in Python

#This is a simple artihmetic expression to multiple then add integers

(3*4)+5

In [39]:
#This will convert 200 minutes to hours by dividing by 60

 #minutes/hours = 200/60

 
200/60

3.3333333333333335